<?xml version='1.0' encoding='utf-8'?>
<plugin
  id="cordova-plugin-volume-supress"
  version="0.1.2"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <author email="someone@noexist.com">
      some one
  </author>
  <name>VolumeSupress</name>
  <description>
     Allows setting and retrieving the volume of the device.
  </description>
  <license>MIT</license>
  <engines>
     <engine name="cordova" version=">=3.0.0"/>
  </engines>
  <js-module name="VolumeSupress" src="www/VolumeSupress.js">
    <clobbers target="cordova.plugins.VolumeSupress" />
  </js-module>  
  <platform name="android">
     <config-file target="res/xml/config.xml" parent="/*">
        <feature name="VolumeSupress">
           <param name="android-package" value="com.eissoft.cordova.plugins.volumeSupress.VolumeSupress" />
        </feature>
     </config-file>
     <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
     </config-file>
     <source-file src="src/android/VolumeSupress.java" target-dir="src/com/eissoft/plugins/volumeSupress" />
  </platform>
</plugin>
